<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
      
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      
    
      
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
    
    
</html>
